*{
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 20vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
nav{
    height: 10vh;
    background-color: #333;
    color: white;
}
nav ul a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
section{
    border: 3px solid;
    height: 100vh;
}
footer{
    background-color: black;
    color: white;
}